<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>微信公众平台</webname>
  <weburl></weburl>
  <weblogo>/upload/201407/22/201407221715461295.jpg</weblogo>
  <webcompany></webcompany>
  <webaddress>北京市海淀区</webaddress>
  <webtel>1891006xxxx</webtel>
  <webfax>-</webfax>
  <webmail>xxxx@126.com</webmail>
  <webcrod>xxx号</webcrod>
  <webtitle></webtitle>
  <webkeyword></webkeyword>
  <webdescription></webdescription>
  <webcopyright>©版权所有  Copyright 2014 - 2020. All Rights Reserved.</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>0</staticstatus>
  <staticextension>html</staticextension>
  <mobilestatus>1</mobilestatus>
  <mobiledomain>m.uweixin.cn</mobiledomain>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode />
  <smsapiurl />
  <smsusername>test</smsusername>
  <smspassword>e10adc3949ba59dd57f20f883e</smspassword>
  <smsnickname>互动</smsnickname>
  <emailsmtp>smtp.163.com</emailsmtp>
  <emailport>25</emailport>
  <emailfrom>puzi0315@163.com</emailfrom>
  <emailusername>puzi0315@163.com</emailusername>
  <emailpassword>dfd</emailpassword>
  <emailnickname>互动</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt,xlsx,docx,jpeg,mp3,MP3,pfx,p12</fileextension>
  <attachsize>51200</attachsize>
  <imgsize>10240</imgsize>
  <imgmaxheight>800</imgmaxheight>
  <imgmaxwidth>800</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>互动</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>WeiXinPF</sysencryptstring>
</siteconfig>