@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

img {
    border: none;
    vertical-align: top;
}

html {
    overflow: auto;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul,
ol {
    list-style: none;
}


html {
    width: 100%;
    height: 100%;
    text-size-adjust: 100%;
    font-size: 87.5%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Hiragino Sans GB', 'Microsoft YaHei', Tahoma, Arial, '\5b8b\4f53', sans-serif;
    line-height: 1.5;
    background-color: #EDF0F0;
    color: #333;
}


.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.pull-left,
.pull-right {
    *display: inline;
}

* {
    box-sizing: border-box;
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0,.1);
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.loader {
    width: 3px;
    height: 3px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -1.5px;
    margin-left: -1.5px;
    border-radius: 100%; /* 圆角 */
    box-shadow: 0 -10px 0 1px #81a8d7, /* 上, 1px 扩展 */
    10px 0 #81a8d7, /* 右 */
    0 10px #81a8d7, /* 下 */
    -10px 0 #81a8d7, /* 左 */
    -7px -7px 0 .5px #81a8d7, /* 左上, 0.5px扩展 */
    7px -7px 0 1.5px #81a8d7, /* 右上, 1.5px扩展 */
    7px 7px #81a8d7, /* 右下 */
    -7px 7px #81a8d7; /* 左下 */
}

.spin {
    -webkit-transform: rotate(360deg);
    -webkit-animation: spin 1s linear infinite;
    transform: rotate(360deg);
    animation: spin 1s linear infinite;
}

.container {
    width: 100%;
    height: 100%;
    display: none;
    background: transparent;
}

.bg {
    background: url(../images/bj.png) 0 0 no-repeat;
    background-size: cover;
}

.btn_box {
    margin: 0 10%;
    text-align: center;
    height: 40px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}

.btn {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.42857143rem;
    background-color: #81a8d7;
    color: #fff;
    border-radius: 6px;
}

.btn-small {
    width: 45%;
}
/*怪兽*/
.monster {
    width: 90%;
    min-height: 200px;
    position: absolute;
    top: 28%;
    left: 7%;
}

.monster-transform {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

.avatar-box {
    position: absolute;
    z-index: 10;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.avatar-box1 {
    width: 60px;
    height: 89.5px;
    top: 33%;
    left: 40%;
    background-image: url(../images/avatar1.png);
}

.avatar-box2 {
    width: 107px;
    height: 134.5px;
    top: 40%;
    left: 3%;
    background-image: url(../images/avatar2.png);
}

@media screen and (min-width: 360px) {
    .avatar-box1 {
        top: 36%;
        left: 40%;
    }

    .avatar-box2 {
        top: 43%;
        left: 5%;
    }
}

@media screen and (min-width: 400px) {
    .avatar-box1 {
        top: 37%;
    }

    .avatar-box2 {
        top: 45%;
        left: 8%;
    }
}

.slideshow, .slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

    .slideshow span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        color: transparent;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        /*opacity: 0;*/
        z-index: 0;
        -webkit-backface-visibility: hidden;
        /*-webkit-animation: imageAnimation 18s linear infinite 0s;
        animation: imageAnimation 18s linear infinite 0s;*/
    }

.wolong {
    background-image: url(../images/wolong.jpg);
}

.yueliang {
    background-image: url(../images/yueliang.jpg);
}

.shenxian {
    background-image: url(../images/shenxian.jpg);
}


.fall-in {
    -webkit-animation: bounceInDown 1.5s ease-out 0.5s both;
    animation: bounceInDown 1.5s ease-out 0.5s both;
}

.shake {
    animation: shake infinite 2s;
    -webkit-animation: shake infinite 2s;
}

@-webkit-keyframes imageAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
    }

    17% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
    }

    17% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .610, .355, 1.000);
        transition-timing-function: cubic-bezier(0.215, .610, .355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .610, .355, 1.000);
        transition-timing-function: cubic-bezier(0.215, .610, .355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: rotate(0);
    }

    50% {
        -webkit-transform: rotate(15deg);
    }

    100% {
        -webkit-transform: rotate(0);
    }
}

@keyframes shake {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0);
    }
}


@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
