<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="mssqllocaldb" />
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>

    <connectionStrings>

        <!--<add name="DbConnection"
         connectionString="server=10.27.214.99,14331; user id=xinfAdmin; password=!@#QWEasd; Database=Travel"
  providerName="System.Data.SqlClient"/>-->
        <add name="DbConnection"
             connectionString="server=.; user id=sa; password=sasasasasa; Database=Travel"
      providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <!--微信基本配置开始-->
        <!--微信AppId-->
        <add key="WeixinAppId" value="wx4986bb37d9c48302" />
        <!--微信AppSecret-->
        <add key="WeixinSecret" value="02b5f776b089dcef370daefa1ee42b50" />
        <!--商户号-->
        <add key="MCHID" value="1266087601"/>
        <!--商户支付密码-->
        <add key="KEY" value="4A5E7B87F3324A6DA22E55FDC12150B6"/>
        <!--统一下单时候订单失效时间，单位（分钟）-->
        <add key="UnifiedOrderTimeExpire" value=""/>
        <!--统一下单操作过期时间，单位（秒）-->
        <add key="UnifiedOrderTimeOut" value=""/>
        <!--微信下单异步通知url-->
        <add key="UnifiedOrderNotifyUrl" value="http://www.cloudorg.com.cn/travel/message/MessageNotify.aspx"/>
        <!--证书路径-->
        <add key="SSLCERT_PATH" value="cer/apiclient_cert.p12"/>
        <!--证书密码-->
        <add key="SSLCERT_PASSWORD" value="1266087601" />
        <!--微信基本配置结束-->

        <!--OTA配置开始-->
        <!--OTA服务地址-->
        <add key="OTAServiceUrl" value="http://223.223.179.17:8090/service.asmx"/>
        <!--MerchantKey-->
        <add key="MerchantKey" value="25ED9785746E41E9A832A2AFFDF6BF54"/>
        <!--MerchantCode-->
        <add key="MerchantCode" value="weixin.qq.com"/>
        <!--ParkCode-->
        <add key="ParkCode" value="gspf"/>
        <!--OTA配置结束-->
    </appSettings>
</configuration>