<script src="../../../scripts/jquery/jquery-2.1.0.min.js"></script>
<script type="text/javascript">

    $(function () {
        $("ul.J_MenuList>li").click(function () {
            var $this = $(this);
            var aid=$this.attr("id");
            if (aid != null && aid != '') {
                if ($this.find("li").length <= 0)
                    location.href = aid;
            }
        })
    });
</script>

<div class="m-menu J_Menu">
    <div class="clearfix">
        <div class="search-con" style="display: none;">
            <button type="button" class="img-search" id="Baidu_Search">
                <img src="/shop/templates/yeshou/images/search1.png" alt="搜索"></button>
            <div class="m-search">
                <input type="text" placeholder="Search..." class="search-in" id="skeyword" />
            </div>
        </div>
        <ul class="m-menu-list J_MenuList" style="width: 100%; text-align: left;">
            <li>
                <p class="J_MenuP"><a href="/shop/userinfo.aspx?openid={$openid}&wid={$wid}">我的订单</a></p>
            </li>
            <li>
                <p class="J_MenuP"><a href="/shop/list.aspx?type=new&openid={$openid}&wid={$wid}">最新产品<span>New Product</span></a></p>
            </li>
            <vt:function var="category" method="getCategory" type="$this" classlayer="1" />
            <vt:foreach from="$category" item="data" index="i">
            <li id="{$data.link_url}"> 
                <p class="J_MenuP">{$data.title} <span>{$data.class_content}</span></p>
                <ul class="sub-menu J_SubMenu none">
                    <vt:function var="category_t" method="getCategory" type="$this" parentid="$data.id" classlayer="2" />
                    <vt:foreach from="$category_t" item="item" index="z">
                    <li><a href="{$item.link_url}">{$item.title}</a></li>
                    </vt:foreach>
                </ul>
            </li>
            </vt:foreach>
        </ul>
    </div>
</div>
