<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--微信基本配置开始-->
    <!--微信AppId-->
    <add key="WeixinAppId" value="wxdd6127bdb5e7611c" />
    <!--微信AppSecret-->
    <add key="WeixinSecret" value="78fb32f17d30a6ade836319283ccf118" />
    <!--商户号-->
    <add key="MCHID" value=""/>
    <!--商户支付密码-->
    <add key="KEY" value=""/>
    <!--统一下单时候订单失效时间，单位（分钟）-->
    <add key="UnifiedOrderTimeExpire" value=""/>
    <!--统一下单操作过期时间，单位（秒）-->
    <add key="UnifiedOrderTimeOut" value=""/>
    <!--微信下单异步通知url-->
    <add key="UnifiedOrderNotifyUrl" value=""/>
    <!--证书路径-->
    <add key="SSLCERT_PATH" value=""/>
    <!--证书密码-->
    <add key="SSLCERT_PASSWORD" value="" />
    <!--微信基本配置结束-->
  </appSettings>
  <connectionStrings>
    <add name="DbConnection" connectionString="server=10.27.214.99,14331; user id=xinfAdmin; password=!@#QWEasd; Database=Travel" providerName="System.Data.SqlClient" />
    <!--<add name="DbConnection" connectionString="server=.; user id=sa; password=sasasasasa; Database=Travel" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpSoap" />
        <add name="HttpPost" />
        <add name="HttpGet" />
        <add name="Documentation" />
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>