<!DOCTYPE html>
<!--[if lt IE 7]>    <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zh-cn" > <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="zh-cn" > <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="zh-cn" ><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zh-cn">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>野兽派</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="”apple-mobile-web-app-capable”" content="”yes”" />

    <!-- 加载js/css -->
    <link type="text/css" rel="stylesheet" href="/shop/templates/yeshou/css/font-awesome.min.css?v=3">
    <link type="text/css" rel="stylesheet" href="/shop/templates/yeshou/css/wapmain.css?v=5">
    <script type="text/javascript" src="/shop/templates/yeshou/js/zepto.min.js?v=3"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?7c10355ee0f6b21af208947325fd4ad7";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <div id="J_Wrappear">
        <div class="lay-wrap J_MenuBody" id="J_MenuSwipe">
            <!--顶部-->
            <vt:template id="header" file="_header.html" charset="utf-8" />
            <!--end顶部-->

            <script>
                $(document).ready(function () {
                    initCart();
                });

                /**重新加载购物车数量和总价**/
                function initCart() {
                    $.ajax({
                        url: '/wap/cart/initCart.htm',
                        dataType: 'json',
                        async: false,
                        success: function (data) {
                            if (data.success) {
                                var num = data.retObj.cart_count;
                                var cart_a_link = $("<a href=\"/wap/cart/list.htm\"></a>");
                                if (num != 'undefined' && parseFloat(num) > 0) {
                                    $('#J_toPay').removeAttr("disabled");
                                    $('#J_toPay').removeClass('u-disabled');
                                    cart_a_link.append($("<i class=\"shop-num\">" + num + "</i>"));
                                } else {
                                    //购物车列表页 
                                    $('#J_totalPrice').empty();
                                    $('#J_toPay').attr('disabled', "true");
                                    $('#J_toPay').addClass('u-disabled');
                                    $('#J_cart_list').empty();
                                    $('#J_cart_list').append($('<p id="J_cart_empty" class="empty">您的购物车是空的</p>'));
                                }
                                $(".m-shop-cart").empty();
                                $(".m-shop-cart").append(cart_a_link);
                                var price = data.retObj.total_price;
                                if (price != 'undefined' && parseFloat(price) > 0) {
                                    $('#J_totalPrice').html('总计：￥' + price);
                                }
                            }
                        }
                    });
                }
            </script>

            <div class="lay-til J_MenuBody" id="J_SubHead">
                <div class="header-con">
                    <i class="arrow-back" onclick="history.go(-1)">
                        <img src="/shop/templates/yeshou/images/pay_03.png" alt="" /></i>
                    <h1>成功下单</h1>
                </div>
            </div>
            <div class="lay-body" id="J_MainBody">
                <div class="order-success">

                    <div class="os-info">
                        <p>您的订单是：{$order.order_no}</p>
                        <p>金额：￥{$order.order_amount}</p>
                    </div>

                    <p class="os-footer">
                        手机下单支持支付宝及各类银行卡快捷支付。<br />
                        支付遇到困难，拨打我们的客服电 
                    </p>
                </div>
            </div>
        </div>
        <div class="m-mask J_MenuBody" id="J_Mask"></div>

        <!--_share_js-->
        <vt:template id="_bottom" file="_bottom.html" charset="utf-8" />
        <!--/_share_js-->
        <script type="text/javascript" src="/shop/templates/yeshou/js/main.js?v=1"></script>
        <script type="text/javascript" src="/shop/templates/yeshou/js/idangerous.swiper.min.js"></script>
        <script>
            function serchItems() {
                var skeywordVal = document.getElementById('skeyword').value;
                if (skeywordVal != '') {
                    window.location.href = "/wap/item/search.htm?searchKeyword=" + skeywordVal;
                } else {
                    alert('请输入搜索词');
                }
            }

            $("#skeyword").keydown(function (event) {
                if (event.keyCode == 13) {
                    serchItems();
                }
            });
        </script>
        <noscript>
            <p>
                <img src="//www.thebeastshop.com/piwik/piwik.php?idsite=1" style="border: 0;" alt="" />
            </p>
        </noscript>
        <!-- End Piwik Code -->
    </div>
</body>
<script>
    function toPay() {
        var defaultUrl = "/wap/alipay/redirect.htm?out_trade_no=9WD00013413";
        var pay_type = $('input[name="pay_type"]:checked').val();
        if ("alipay" == pay_type) {
            defaultUrl = "/wap/alipay/redirect.htm?out_trade_no=9WD00013413";
        } else if ("cmbbank" == pay_type) {
            defaultUrl = "/wap/cmbpay/redirect.htm?out_trade_no=9WD00013413";
        }
        location.href = defaultUrl;
    }
</script>
</html>
