<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <add name="DbConnection" connectionString="server=10.27.214.99,14331; user id=xinfAdmin; password=!@#QWEasd; Database=Travel"  providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="WeixinAppId" value="wxdd6127bdb5e7611c"/>
    <add key="WeixinSecret" value="78fb32f17d30a6ade836319283ccf118"/>
  </appSettings>
</configuration>