<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DBConnection" value="server=localhost; user id=sa; password=sasasasasa; Database=WineShop"/>
    <add key ="Interval" value="43200000"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
