<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="GetJP" value="true"/>
    <!--缓存轮训时间单位为min-->
    <add key="UpdateCacheTimeSpan" value="60"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/> 
        <add name="Documentation"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>